
@{
    ViewData["Title"] = "AssignTask";
}

<div class="col-lg-9" style="margin-top:50px;">
    <form method="post" asp-action="AssignTask" asp-controller="Task">
        <div class="row">
            <div class="col-lg-8 form-group">
                <select asp-items="@ViewBag.MembersNames" name="MemberId" class="form-control" required>
                    <option selected disabled>Select Member </option>
                </select>
            </div>
            <div class="col-lg-8 form-group">
                <select asp-items="@ViewBag.TaskLists" id="TaskIds" name="TaskIds" multiple="multiple" class="form-control" required>
                    <option selected disabled>Select Tasks </option>
                </select>
            </div>
        </div>
        <div class="row">
            <button type="submit" class="btn btn-danger px-3 ml-3">Add</button>
        </div>
    </form>
</div>

@section Scripts{

}



